header {
    height: 10vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.6rem;
    padding: 1rem;
    box-shadow: 0 0 10px #cdcdcd;
}

header div {
    margin: 0 1rem;
    
}

.headerProfile img{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 0 5px #333;
    transform: scale(1.1);
}

header div h1{
    font-size: 1.6rem;
}

header div p{
    font-size: 1.4rem;
    color: #777;
}

.headerLogout{
    padding: 0.4rem;
}

.logoutBtn p{
    padding: 0.7rem;
    font-size: 1.6rem;
    background: #f8fafc;
    color: #dc2626;
    font-weight: 500;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logoutBtn p:hover{
    border: 1px solid  #dc2626;
    transform: scale(1.1);
    background: #fca5a589;
}

.logoutBtn{
    text-decoration: none !important;
}


