*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    font-size: 62.5%;
}

body{
    background: #f4f7f6;
    position: relative !important;
    height: 100vh;
    width: 100%;
}

.font-medium {
    font-weight: 600;
    color: #0f172a;
}

.text-right {
    text-align: right;
}

.text-muted{
    font-size: 1.2rem;
}