*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    font-size: 62.5%;
}

body{
    background: #f4f7f6;
    position: relative !important;
    height: 100vh;
    width: 100%;
}