<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Department Head Login</title>
</head>

<body>
    <section class="loginWrapper">
        <div class="loginUpper">
            <h1 class="title">Academic Portal</h1>
            <p>Department Head Portal Login</p>
        </div>
        <div class="loginLower">
            <form action="" method="post">
                <div class="loginEmail">
                    <label for="loginEmailInput">
                        Email Address
                    </label>
                    <input type="email" name="loginEmailInput" id="loginEmailInput"
                        placeholder="Enter your institutional email">
                </div>
                <div class="loginPass">
                    <label for="loginPassInput">
                        Password
                    </label>
                    <input type="password" name="loginPassInput" id="loginPassInput" placeholder="Enter your password">
                </div>
                <input type="submit" value="Login" class="loginBtn">
            </form>
        </div>
    </section>
</body>

</html>